@model DnevnaDoza.Models.Korisnik

@{
    ViewData["Title"] = "Potvrda Emaila";
}

<h2>Email potvrđen</h2>
<p>Vaša email adresa je uspješno potvrđena. Sada se možete <a href="/Korisniks/Login">prijaviti</a>.</p>
