@model DnevnaDoza.Models.Korisnik

@{
    ViewData["Title"] = "Registracija uspješna";
}

<h2>Registracija uspješna!</h2>
<p>Molimo vas da provjerite vaš email i kliknete na link za potvrdu kako biste završili registraciju.</p>