################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Implementacija/DnevnaDoza/.vs
/.vs
/Implementacija/DnevnaDoza/obj/Debug/net8.0/DnevnaDoza.AssemblyInfo.cs
/Implementacija/DnevnaDoza/obj/Debug/net8.0/DnevnaDoza.AssemblyInfoInputs.cache
/Implementacija/DnevnaDoza/obj/Debug/net8.0/DnevnaDoza.assets.cache
/Implementacija/DnevnaDoza/obj/Debug/net8.0/DnevnaDoza.csproj.AssemblyReference.cache
/Implementacija/DnevnaDoza/obj/DnevnaDoza.csproj.nuget.dgspec.json
/Implementacija/DnevnaDoza/obj/DnevnaDoza.csproj.nuget.g.props
/Implementacija/DnevnaDoza/obj/project.assets.json
