@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Pozdrav, @User.Identity.Name!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Korisniks" asp-action="Logout">Odjava</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Korisniks" asp-action="Create">Registracija</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Korisniks" asp-action="Login">Prijava</a>
        </li>
    }
</ul>
