@model IEnumerable<DnevnaDoza.Models.Apoteka>

@{
    ViewData["Title"] = "Informacije o Apoteci";
}

<h1>Apoteka</h1>

<!-- Displaying the image -->
<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKdHAkU0CSeR1u0PJZieHtVobnb-OfMCzPUA&s" alt="Apoteka" style="width: 300px; height: auto;" />
</div>

<!-- Contact Information -->
<h2>Kontakt Informacije</h2>
<p><strong>Direktor:</strong> Merisa</p>
<p><strong>Telefon:</strong> +387 61 123 456</p>
<p><strong>Email:</strong> merisa@example.com</p>
