@model DnevnaDoza.Models.Proizvod

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj novi proizvod</h1>

<h4>Proizvod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dostupnost" class="control-label"></label>
                <input asp-for="Dostupnost" class="form-control" />
                <span asp-validation-for="Dostupnost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDKorpa" class="control-label"></label>
                <input asp-for="IDKorpa" class="form-control" />
                <span asp-validation-for="IDKorpa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategorija" class="control-label"></label>
                <!--Binfing sa enumom kategorija  dobijamo padajucu listu-->
                <select asp-for="Kategorija" class="form-control" asp-items="ViewBag.Kategorije"></select>
                <span asp-validation-for="Kategorija" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
